<!-- Navigation -->
    <nav style="font-size:20px;"class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a style="font-size:25px;" class="navbar-brand" href="#">정보통신공학과</a>
         <% if user_signed_in? %>
        <a  href="mypage/index">내정보</a>
        <a href="/chat/index">심심이</a>
        <a  href="http://wku.ac.kr">원광대학교</a>
        <a href="https://www.inflearn.com/">프로그래밍 무료강좌</a>
        <a href="https://likelion.net/ko">멋쟁이 사자처럼 소개</a>
        <% else %>
        <% end %>
        <% if user_signed_in? %>
        <a style="color:#FFFFFF" class="btn btn-primary" href="/users/sign_out">로그아웃</a>
        <% else %>
        <a style="color:#FFFFFF" class="btn btn-primary" href="/users/sign_in">로그인</a>
        <% end %>
      </div>
    </nav>
<h1><ins>심심이</ins></h1>
<div  style=" text-align:center">
<form action="/chat/create">
    <input type="text" name="content"> 
     <input type="submit"> 
</form>
<ul>
    <% Chat.all.each do |c| %>
    <li><%=c.is_man ? "사람" : "컴퓨터" %> : <%= c.content%></li>
    <% end %>
</ul>
</div>
